/* body {
	background-color: #fafafa;
} */
/* Trick */
body {
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

section {
	margin: 8em 0;
}

.top-section {
	margin-top: 1em;
}

@media (min-width: 1200px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1060px;
	}
}

a {
	color: inherit;
}

a:hover {
	color: black;
}

p.fw-400 {
	font-weight: 400;
}

.bg-auth-image {
	background: url("../img/bg/bg-login.jpg");
	background-position: center;
	background-size: cover;
}

bg-transparant {
	background-color: transparent;
}

bg-white {
	background-color: white;
}

/* Removing arrow in input[type="number"] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* Topbar Navbar */
/* .top-bar,
.navbar {
	background-color: #fafafa;
} */
.top-bar {
	display: flex;
	align-items: center;
	padding: 0.5em 1.7em 0 1.7em;
}
.logged-in-dropdown,
.logged-in-dropdown > img {
	border-radius: 50%;
	cursor: pointer;
}
.navbar {
	padding-top: 0;
}
.navbar-light .navbar-nav .nav-link {
	font-weight: 500;
	color: rgba(0, 0, 0, 1);
}
.navbar-toggler {
	width: 100%;
}
.floating-customer-service {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 100;
}

/* Main Content */
.carousel {
	box-shadow: unset;
}
.carousel-inner {
	max-height: 750px;
}

/* Home */
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: rgba(0, 0, 0, 0.507);
}
.card:hover .overlay {
	opacity: 1;
	cursor: pointer;
}
.text {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
.card img {
	filter: brightness(80%);
}
.frame-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 3em;
}
.slide-show-card {
	background-color: #f9e1e0;
	border: 3px solid black;
}
.slide-show-card::before {
	content: "";
	border: 2px solid black;
	position: absolute;
	width: 200px;
	height: 200px;
	z-index: -1;
	transform: rotate(45deg);
	left: 25%;
	bottom: 30%;
}

/* View Product */
.view-product-detail > p {
	margin-bottom: 1.3em;
}
.view-product-detail > h5 {
	margin-bottom: 0.3em;
}
.view-product-price {
	color: green;
}

/* Cart */
.cart-icon {
	position: absolute;
	padding-right: inherit;
	right: 0;
	margin-right: 80px;
}
.cart-card {
	border-bottom: 5px solid rgba(128, 128, 128, 0.5);
	border-radius: unset;
	box-shadow: none;
}
.cart-item-image {
	width: auto;
	height: 80px;
	border-radius: 4px;
}
.cart-item-detail {
	width: 100%;
	margin-bottom: 0;
}
.cart-item-detail > p {
	margin-bottom: 0.1em;
}
.cart-item-name {
	margin-bottom: 0.4em;
}
.cart-item-price {
	font-weight: 500;
	color: green;
	margin-bottom: 0.3em;
}
.badge-notify {
	background: red;
	position: relative;
	top: -20px;
	left: -10px;
}
.disable-cart-item {
	background-color: rgba(0, 0, 0, 0.404);
}

/* Checkout */
.my-address {
	background-color: rgba(0, 0, 0, 0.08);
	padding: 1em;
}
.my-address > p {
	margin-bottom: 0;
}
.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
}
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 15px;
	right: 15px;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}
.shopping-summary {
	position: -webkit-sticky;
	position: sticky;
	top: 150px;
}
.shopping-summary p {
	margin-bottom: 0.3em;
}
p.price {
	font-weight: 500;
	color: green;
}

/* Payment  */
.card .card-text {
	margin-bottom: 0;
}

/* Footer */
footer {
	min-height: 7em;
	margin-top: auto;
	width: 100%;
	font-size: 14px;
	margin-top: auto;
	color: white;
	background-color: #5c85a3;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .container {
	display: flex;
	flex-wrap: wrap;
}

footer a {
	color: white;
	margin-right: 3em;
}

footer a:hover {
	color: hotpink;
}

@media (max-width: 575.98px) {
	.navbar {
		padding-top: 0.75rem;
	}

	.form-inline {
		display: none;
	}

	.logged-in-dropdown,
	.login-button {
		margin-left: auto !important;
	}
	.carousel-inner {
		max-height: 250px;
	}
}
